doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        //- link(rel="stylesheet", href="")
    body 
        .cards
            .card.searching 
                .title Найдём номера под ваши пожелания
                form(action="", method="post") 
                    .arrival 
                        label(for="date") Прибытие
                        select(name="arrival")
                            option(selected disabled) ДД.ММ.ГГГГГ
                    .departure
                        label(for="date") Выезд
                        select(name="depature")
                            option(selected disabled) ДД.ММ.ГГГГГ
                    .guest 
                        label(for="date") Гости
                        select(name="guest")
                            option(selected disabled) Сколько гостей 
                    button(type="submit") Подобрать отель
            .card.register 
                .title Регистрация аккаунта
                form(action="", method="post")
                    input(class="reginput",placeholder="Имя", type="text", name="name") 
                    input(class="reginput",placeholder="Фамилия" type="text", name="surname")
                    input(type="radio", name="sex",placeholder='Мужчина')
                    label(for="man") Мужчина
                    input(type="radio", name="sex",placeholder='Женщина') 
                    label(for="woman") Женщина 
                    label(for="") Дата рождения
                    input(id="elem" class="reginput",placeholder="ДД.ММ.ГГГГ",type="date")
                    label(for="") Данные для входа
                    input(class="reginput",type="email", name="",placeholder="Email") 
                    input(class="reginput",type="password", name="",placeholder="Пароль")
                    .toggle-wrapper
                        .toggle.transparent
                            input#transparent(type="checkbox")
                            label.toggle-item(for="transparent")
                    label(for="") Получать спецпредложения 
                    button(type="submit") Перейти к оплате
                    .question Уже есть аккаунт на Toxin
                    button войти 
            .card.booking 
                .title <span id="sign">№</span><span>888</span>люкс
                .cost <span>9990Р</span> в сутки   
                form(action="", method="post") 
                    .arrival 
                        label(for="date") Прибытие
                        select(name="arrival")
                            option(disabled) ДД.ММ.ГГГГГ
                            option(selected) 19.08.2019
                    .departure
                        label(for="date") Выезд
                        select(name="depature")
                            option(disabled) ДД.ММ.ГГГГГ
                            option(selected) 23.08.2019 
                    .guest 
                        label(for="date") Гости
                        select(name="guest")
                            option(disabled) Сколько гостей 
                            option() 1 гость
                            option() 2 гостя
                            option(selected) 3 гостя
                    button(type="submit") Забронировать
                .info 
                    div 9 990₽ х 4 суток 
                    div 39 960₽
                    div Сбор за услуги: скидка 2 179₽
                    div 0₽
                    div Сбор за дополнительные услуги
                    div 300₽
                    div Итого
                    div 38 081₽
                    div 