doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .cards
            .card.searching 
                .title Найдём номера под ваши пожелания
                .arival 
                    label(for="date") прибытие
                    select(name="arival")
                        option(selected disabled) ДД.ММ.ГГГГГ
                .departure
                    label(for="date") выезд
                    select(name="depature")
                        option(selected disabled) ДД.ММ.ГГГГГ
                .guest 
                    label(for="date") Гости
                    select(name="guest")
                        option(selected disabled) Сколько гостей

        script(src="main.js") 