doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        //- link(rel="stylesheet", href="")
    body 
        .cards
            .card.searching 
                .title Найдём номера под ваши пожелания
                form(action="", method="post") 
                    .arrival 
                        label(for="date") Прибытие
                        select(name="arrival")
                            option(selected disabled) ДД.ММ.ГГГГГ
                    .departure
                        label(for="date") Выезд
                        select(name="depature")
                            option(selected disabled) ДД.ММ.ГГГГГ
                    .guest 
                        label(for="date") Гости
                        select(name="guest")
                            option(selected disabled) Сколько гостей 
                    button(type="submit") Подобрать отель
            .card.register 
                .title Регистрация аккаунта
                form(action="", method="post")
                    input(class="reginput",value="Имя", type="text", name="name") 
                    input(class="reginput",value="Фамилия" type="text", name="surname")
                    input(type="radio", name="sex",value='Мужчина')
                    input(type="radio", name="sex",value='Женщина') 
                    label(for="")
                    input(class="reginput",value="ДД.ММ.ГГГГ",type="date")
                    label(for="")
                    input(class="reginput",type="email", name="") 
                    input(class="reginput",type="password", name="")
                    .toggle-wrapper
                        .toggle.transparent
                            input#transparent(type="checkbox")
                            label.toggle-item(for="transparent")
                    button(type="submit") Перейти к оплате
