doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        //- link(rel="stylesheet", href="")
    body 
        .cards
            .card.searching 
                .title Найдём номера под ваши пожелания
                form(action="", method="post") 
                    .arrival 
                        label(for="date") Прибытие
                        select(name="arrival")
                            option(selected disabled) ДД.ММ.ГГГГГ
                    .departure
                        label(for="date") Выезд
                        select(name="depature")
                            option(selected disabled) ДД.ММ.ГГГГГ
                    .guest 
                        label(for="date") Гости
                        select(name="guest")
                            option(selected disabled) Сколько гостей 
                    button(type="submit") Подобрать отель
            .card.register 
                .title Регистрация аккаунта
