@import "fonts";

body {
  font-family: "Montserrat";
  font-weight: normal;
  color: rgba(31, 32, 65, 0.75);
}
.cards{
    .card.searching{
      position: absolute;
      width: 380px;
      height: 374px;
      left: 140px;
      top: 150px;

      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      .title{
        position: absolute;
        width: 320px;
        height: 59px;
        left: 30px;
        top: 40px;

        
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;

        /* Dark 100% */

        color: #1F2041;
      }
      .jq-selectbox.jqselect{
        width: 150px;
        height: 44px;
      }
      .jq-selectbox__select{
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 15px;
        padding-right: 33px;
        background: #FFFFFF;
        /* Dark 25% */
        border: 1px solid rgba(31, 32, 65, 0.25);

        .jq-selectbox__select-text{
        font-family: 'Montserrat';
        font-weight: 400;
        color: rgba(31, 32, 65, 0.75);
        }
      }
      
      .jq-selectbox__trigger{
        border-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
        .jq-selectbox__trigger-arrow{
          position: relative;
          border:none;
          top: 0;
          left: 0;
          width: 14px;
          height: 14px;
          background-color: rgba(31, 32, 65, 0.5) ;
          mask-image: url('/build/svg/expand_more-24px.svg');
          mask-position: center;
        }
      }
      .arrival{
        position: absolute;
        left: 30px;
        top: 120px;
        }
      .departure{
        position: absolute;
        top: 120px;
        right: 30px;
      }
      label{
        display: block;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        font-weight: 700;
        color: #1F2041;
      }
      
      .guest{
        position: absolute;
        width: 320px;
        height: 64.56px;
        left: 30px;
        top: 205px;
        .jq-selectbox.jqselect{
          width: 100%;
        }
      }
      button{
        position:absolute;
        width: 320px;
        height: 44px;
        left: 30px;
        top: 300px;

        /* Primary Gradient */

        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        border: none;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
        &:after{
          content: "";
          display: block;
          position: absolute;
          width: 14px;
          height: 14px;
          mask-image: url('/build/svg/arrow_forward.svg');
          mask-size: contain;
          background-color: white;
          left: 276px;
          top: 15px;

        }
      }
    }
  .card.register{
    width: 380px;
    height: 646px;
    top: 564px;
    left: 140px;
  }
}

